<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${id}">Vorlauf</title>
    <th:block th:replace="~{main-templates::head-default}"></th:block>
    <link href="/css/default.css" rel="stylesheet">
    <script src="/js/vorlauf.js"></script>
</head>
<body>
<main class="container-fluid">
    <div th:replace="~{matchDisplay/basic-match-fragments :: alpha-info}"></div>
    <!--/*@thymesVar id="match" type="de.olivergeisel.kegelplay.infrastructure.data_reader.MatchNTeams"*/-->
    <section>
        <header>
            <h2 class="centering text-center pb-3">Vorlauf</h2>
        </header>
        <article id="current-players">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3" id="lane-1" th:with="player=${match.getCurrentPlayers()[0]}">
                    <h3 th:text="${match.config.laneNames[0]}">Bahn 1</h3>
                    <h4 th:text="${player.vorname}"></h4>
                    <h4 th:text="${player.nachname}"></h4>
                    <h4 th:text="${player.club}"></h4>
                    <div><!-- Table-->
                        <table class="table table-striped" th:with="game=${player.game}">
                            <thead>
                            <tr>
                                <th>Wurf</th>
                                <th>Volle</th>
                                <th>Räumer</th>
                                <th>Gesamt</th>
                                <th>Fw</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="p1-r1" th:with="set=${game.getDurchgang(0)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p1-r2" th:with="set=${game.getDurchgang(1)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p1-r3" th:with="set=${game.getDurchgang(2)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p1-r4" th:with="set=${game.getDurchgang(3)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr id="p1-summary">
                                <td th:text="${game.numberOfWurf}">120</td>
                                <td th:text="${game.totalVolle}">XYZ</td>
                                <td th:text="${game.totalAbraeumen}">ABC</td>
                                <td th:text="${game.totalScore}">587</td>
                                <td th:text="${game.totalFehlwurf}">0</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="p-1" id="lane-1-wurfbild">
                        <div class="row justify-content-center">
                            <div class="svg-container">
                                <svg class="svg-content col-md border border-4" id="picture-1-svg"
                                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3" id="lane-2" th:with="player=${match.getCurrentPlayers()[1]}">
                    <h3 th:text="${match.config.laneNames[1]}">Bahn 2</h3>
                    <h4 th:text="${player.vorname}"></h4>
                    <h4 th:text="${player.nachname}"></h4>
                    <h4 th:text="${player.club}"></h4>
                    <div><!-- Table-->
                        <table class="table table-striped" th:with="game=${player.game}">
                            <thead>
                            <tr>
                                <th>Wurf</th>
                                <th>Volle</th>
                                <th>Räumer</th>
                                <th>Gesamt</th>
                                <th>Fw</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="p2-r1" th:with="set=${game.getDurchgang(0)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p2-r2" th:with="set=${game.getDurchgang(1)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p2-r3" th:with="set=${game.getDurchgang(2)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p2-r4" th:with="set=${game.getDurchgang(3)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr id="p2-summary">
                                <td th:text="${game.numberOfWurf}">120</td>
                                <td th:text="${game.totalVolle}">XYZ</td>
                                <td th:text="${game.totalAbraeumen}">ABC</td>
                                <td th:text="${game.totalScore}">587</td>
                                <td th:text="${game.totalFehlwurf}">0</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="p-1" id="lane-2-wurfbild">
                        <div class="row justify-content-center">
                            <div class="svg-container">
                                <svg class="svg-content col-md border border-4" id="picture-2-svg"
                                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3" id="lane-3" th:with="player=${match.getCurrentPlayers()[2]}">
                    <h3 th:text="${match.config.laneNames[2]}">Bahn 3</h3>
                    <h4 th:text="${player.vorname}"></h4>
                    <h4 th:text="${player.nachname}"></h4>
                    <h4 th:text="${player.club}"></h4>
                    <div><!-- Table-->
                        <table class="table table-striped" th:with="game=${player.game}">
                            <thead>
                            <tr>
                                <th>Wurf</th>
                                <th>Volle</th>
                                <th>Räumer</th>
                                <th>Gesamt</th>
                                <th>Fw</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="p3-r1" th:with="set=${game.getDurchgang(0)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p3-r2" th:with="set=${game.getDurchgang(1)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p3-r3" th:with="set=${game.getDurchgang(2)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p3-r4" th:with="set=${game.getDurchgang(3)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr id="p3-summary">
                                <td th:text="${game.numberOfWurf}">120</td>
                                <td th:text="${game.totalVolle}">XYZ</td>
                                <td th:text="${game.totalAbraeumen}">ABC</td>
                                <td th:text="${game.totalScore}">587</td>
                                <td th:text="${game.totalFehlwurf}">0</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="p-1" id="lane-3-wurfbild">
                        <div class="row justify-content-center">
                            <div class="svg-container">
                                <svg class="svg-content col-md border border-4" id="picture-3-svg"
                                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3" id="lane-4" th:with="player=${match.getCurrentPlayers()[3]}">
                    <h3 th:text="${match.config.laneNames[3]}">Bahn 4</h3>
                    <h4 th:text="${player.vorname}"></h4>
                    <h4 th:text="${player.nachname}"></h4>
                    <h4 th:text="${player.club}"></h4>
                    <div><!-- Table-->
                        <table class="table table-striped" th:with="game=${player.game}">
                            <thead>
                            <tr>
                                <th>Wurf</th>
                                <th>Volle</th>
                                <th>Räumer</th>
                                <th>Gesamt</th>
                                <th>Fw</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="p4-r1" th:with="set=${game.getDurchgang(0)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p4-r2" th:with="set=${game.getDurchgang(1)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p4-r3" th:with="set=${game.getDurchgang(2)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            <tr id="p4-r4" th:with="set=${game.getDurchgang(3)}">
                                <td th:text="${set.anzahlGespielteWuerfe}">30</td>
                                <td th:text="${set.volleScore}">95</td>
                                <td th:text="${set.abraeumenScore}">45</td>
                                <td th:text="${set.score}">140</td>
                                <td th:text="${set.anzahlFehler}">0</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr id="p4-summary">
                                <td th:text="${game.numberOfWurf}">120</td>
                                <td th:text="${game.totalVolle}">XYZ</td>
                                <td th:text="${game.totalAbraeumen}">ABC</td>
                                <td th:text="${game.totalScore}">587</td>
                                <td th:text="${game.totalFehlwurf}">0</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="p-1" id="lane-4-wurfbild">
                        <div class="row justify-content-center">
                            <div class="svg-container">
                                <svg class="svg-content col-md border border-4" id="picture-4-svg"
                                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100"
                                     xmlns="http://www.w3.org/2000/svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article id="team-ranking">
            <h3>Platzierung</h3>
            <div class="row">
                <div class="col" th:each="team:${match.teams}">
                    <h4 th:text="${team.name}">Team 1</h4>
                    <div class="card" th:each="player:${team.players}">
                        <div class="card-header">
                            <h4 th:text="${player.completeName}">Player 1</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${player.game.totalScore}">score</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <hr>
    <section class="pb-1">
        <form class="form-control p-2" method="dialog">
            <label for="interval">Aktualisierungsintervall in Sekunden</label>
            <input class="number-button" id="interval" min="5" step="1" type="number" value="5">
            <div class="btn-group pt-1" id="refresh-button-group">
                <button class="btn btn-primary pt-1" onclick="updateInterval()" type="button">Aktualisieren</button>
                <button class="btn btn-warning pt-1" onclick="refresh()" type="button">Manuell aktualisieren</button>
                <button class="btn btn-danger pt-1" onclick="stopUpdate()" type="button">Stop</button>
            </div>
            <svg height="20">
                <circle cx="10" cy="10" fill="green" id="live-point" r="5" stroke="black" stroke-width="1"/>
            </svg>
        </form>
        <div class="alert alert-danger" hidden id="connection-status"></div>
    </section>
</main>
<script th:inline="javascript">

    window.onload = function () {
        function createSquare(x, y, size) {
            const square = document.createElementNS("http://www.w3.org/2000/svg", "rect");
            square.setAttribute("x", x);
            square.setAttribute("y", y);
            square.setAttribute("width", size);
            square.setAttribute("height", size);
            square.setAttribute("transform", `rotate(45)`);
            square.setAttribute("fill", "none");
            square.setAttribute("stroke", "black");
            square.setAttribute("id", "square")
            return square
        }

        function createCircle(cx, cy, r) {
            const circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            circle.setAttribute("cx", cx);
            circle.setAttribute("cy", cy);
            circle.setAttribute("r", r);
            circle.setAttribute("fill", "black");
            circle.classList.add("pin-stand");
            return circle
        }

        for (let number = 1; number <= 4; number++) {
            const svg = document.getElementById(`picture-${number}-svg`)
            svg.appendChild(createSquare(35.5, -35.5, 70))
            const radius = 25;
            const gapX = 75;
            let gapY = 35;
            let left = 0;
            let rows = [1, 2, 3, 2, 1];
            // all 9 circles (pins)
            for (let i = 0; i < rows.length; i++) {
                let xOffset = (3 - rows[i] - 1) * gapX + radius * 2;
                for (let j = 0; j < rows[i]; j++) {
                    let x = left + xOffset + j * gapX * 2 + gapX;
                    let y = (rows.length - i - 1) * gapY * 2 + gapY + radius;
                    svg.appendChild(createCircle(x, y, radius))
                }
            }
            resizePicture(number);
        }
    };

    function resizePicture(id) {
        const svg = document.getElementById(`picture-${id}-svg`);
        const square = svg.querySelector("#square");
        square.height.baseVal.value = 70
        square.width.baseVal.value = 70
        square.x.baseVal.value = 35.5
        square.y.baseVal.value = -35.5

        const circles = svg.querySelectorAll("circle");
        const dotRadius = 5;
        const gapX = 20;
        let gapY = 10;
        let rows = [1, 2, 3, 2, 1];
        let idCounter = 1;
        for (let i = 0; i < rows.length; i++) {
            let xOffset = (3 - rows[i] - 1) * gapX + dotRadius * 2;
            for (let j = 0; j < rows[i]; j++) {
                let x = xOffset + j * gapX * 2 + gapX;
                let y = (rows.length - i - 1) * gapY * 2 + gapY;
                let circle = circles[idCounter - 1]
                circle.setAttribute("cx", x);
                circle.setAttribute("cy", y);
                circle.setAttribute("r", dotRadius);
                ++idCounter;
            }
        }
    }

    async function refresh() {
        const id = /*[[${id}]]*/""
        let data;
        try {
            const response = await fetch(`/live/get-match?matchId=${id}`);
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            data = await response.json()
        } catch (error) {
            ++connectionErrorCounter
            const state = document.getElementById('connection-status')
            state.hidden = false
            if (connectionErrorCounter > 10) {
                state.innerText =
                    'Connection failed too often - request stopped. Please check the server connection and then restart the request.'
                stopUpdate()
            } else {
                state.innerText = `Connection failed ${connectionErrorCounter} times. Trying again in ${document.getElementById('interval').value} seconds`
            }
            return
        }
        connectionErrorCounter = 0
        const state = document.getElementById('connection-status')
        state.innerText = ''
        state.hidden = true
        const start = Date.now();
        if (data.finished) {
            stopUpdate()
            const group = document.getElementById('refresh-button-group')
            group.childNodes.forEach(node => node.disabled = true)
            state.hidden = false
            state.classList.add('alert-success')
            state.classList.remove('alert-danger')
            state.innerText = 'Match finished'
        }
        const players = data.currentPlayers
        for (let i = 0; i < players.length; i++) {
            const player = players[i]
            updateTable(player.game, i + 1)
            updatePicture(player.game.lastWurf.bild, i + 1)
        }
        // teamRanking update
        updateTeamRanking(data.extra, data.teams)
        const end = Date.now()
        console.log(`Refresh took ${end - start} ms`)
    }

    function stopUpdate() {
        clearInterval(intervalId)
        document.getElementById('live-point').setAttribute('fill', 'red')
    }

    function updateInterval() {
        clearInterval(intervalId)
        document.getElementById('live-point').setAttribute('fill', 'green')
        intervalId = setInterval(refresh, document.getElementById('interval').value * 1000)
    }

    let intervalId = setInterval(refresh, 5_000)
    let connectionErrorCounter = 0

</script>
</body>
</html>