<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auf der Bahn</title>
    <th:block th:replace="~{main-templates::head-default}"></th:block>
    <link href="/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>

</head>
<body class="container">
<header>
    <h1>Auf den Bahnen</h1>
</header>
<main>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Spieler 1
                </div>
                <div class="card-body">
                    <h5 class="card-title">Spieler 1</h5>
                    <table>
                        <tr>
                            <td>1. Durchgang</td>
                            <td>2. Durchgang</td>
                            <td>3. Durchgang</td>
                            <td>4. Durchgang</td>
                        </tr>
                        <tr>
                            <td id="player1-1"> 1</td>
                            <td id="player1-2">2</td>
                            <td id="player1-3">3</td>
                            <td id="player1-4">4</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <h4>Aktueller Satz</h4>

        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
    </div>
        </div>
    </div>
</main>


</body>
</html>