<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neues Match</title>
    <th:block th:replace="~{main-templates::head-default}"></th:block>
</head>
<body>
<main class="container">
    <div th:replace="~{main-templates :: navigation}"></div>
    <header>
        <h1>Neues Match</h1>
    </header>
    <section>
        <form action="create" method="post" class="form-control">
            <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
            <div class="mb-3">
                <label for="matchName" class="form-label">Name des Matches</label>
                <input type="text" class="form-control" id="matchName" name="matchName" placeholder="Name des Matches"
                       required>
            </div>
            <div class="mb-3">
                <label for="matchDate" class="form-label">Datum des Matches</label>
                <input class="form-control" id="matchDate" name="matchDate" th:value="${date}" type="date">
            </div>

            <div class="mb-3">
                <label for="matchSelect" class="form-label">Match</label>
                <select class="p1 form-control" id="matchSelect" name="matchId" required>
                    <option class="form-control" th:each="match : ${matches}" th:text="${match}"
                            th:value="${match}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="pointSystem" class="form-label">Punktesystem</label>
                <select class="p1 form-control" id="pointSystem" name="pointSystem" required>
                    <option class="form-control" th:each="pointSystem : ${pointSystems}" th:value="${pointSystem}"
                            th:text="${pointSystem}" ></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="server" class="form-label">Server</label>
                <input class="p1 form-control" id="server" name="pointSystem" type="url">
            </div>
            <div class="mb-3">
                <label for="localServer" class="form-label">Ist lokaler Server?</label>
                <input class="p1 form-check-input" type="checkbox" name="localServer" id="localServer" value="false">
            </div>
            <div class="mb-3">
                <label for="matchType" class="form-label">Matchtyp</label>
                <select class="p1 form-control" id="matchType" name="matchType" required>
                    <option class="p1 form-control" th:each="matchType : ${matchTypes}" th:value="${matchType}"
                            th:text="${matchType}" ></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Match erstellen</button>
        </form>
    </section>
</main>

<script>

    function replaceMatches (matches) {
        const matchSelect = document.getElementById('matchSelect');
        matchSelect.innerHTML = '';
        matches.forEach(function (match) {
            const option = document.createElement('option');
            option.value = match;
            option.text = match;
            matchSelect.appendChild(option);
        });
    }

    document.getElementById('matchDate').addEventListener('change', function () {
        fetch('/day?date=' + this.value)
            .then(response => response.json())
            .then(data => {
                replaceMatches(data);
            });
    });
</script>
</body>
<footer th:replace="~{main-templates::footer}"/>
</html>