<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kegelbroker - Client</title>
    <th:block th:replace="~{main-templates::head-default}"></th:block>
</head>
<body>
<main class="container">
    <div th:replace="~{main-templates :: navigation}"></div>
    <header>
        <h1>Willkommen bei Kegelbroker</h1>
    </header>
    <section>
        Kegelbroker ist ein System zum Sammeln bzw. Anzeigen von Kegelspielen in Echtzeit.
        Dies ist die Client-Anwendung. Diese Software läuft auf dem System, das die Kegelspiele durchführt oder
        direkt Zugriff auf die Daten hat. Es kann die Spiele direkt im Browser anzeigen und/oder die Daten an einen
        Server senden, der die Daten dann für andere Anwendungen bereitstellt oder anzeigt.
    </section>
    <section class="pt-2">
        <header>
            <h2>Momentan laufende Spiele</h2>
        </header>
        <article>
            <p th:if="${matches.empty}">Es sind keine Spiele vorhanden.
                <br>
                <a href="/create">Erstelle ein neues Spiel</a>
            </p>
            <div class="card" th:each="match :${matches}">
                <div class="card-header">
                    <span th:remove="tag" th:text="${match.matchName}"></span>
                </div>
                <div class="card-body">
                    Es spielen:
                    <h5 class="card-title" th:text="${match.getTeamsAsString}">M1</h5>
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary" th:href="@{/detail (id=${match.id})}">Details</a>
                </div>
            </div>
        </article>
    </section>
</main>
<footer th:replace="~{main-templates::footer}"/>
</body>
</html>