<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <th:block th:replace="~{main-templates::head-default}"></th:block>
</head>
<body class="container">

<div th:replace="~{main-templates ::navigation }"></div>
<main class="page-item">
    <div th:if="${error}">Dieses Match gibt es nicht!</div>
    <div th:remove="tag" th:unless="${error}">
        <header>
            <h1>Live Match <span th:remove="tag" th:text="${match.matchName}"></span> Details</h1>
        </header>
        Name: <p th:text="${match.matchName}"></p>
        Typ: <p th:text="${match.matchType}"></p>
        Läuft: <span th:text="${match.running}"></span>
        <form class="pt-2" method="post">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
            <input name="id" th:value="${match.id}" type="hidden">
            <button class="btn btn-warning" name="action" th:if="${match.running}" type="submit" value="end">Beenden
                (Match
                zuende)
            </button>
            <button class="btn btn-warning" name="action" th:unless="${match.running}" type="submit" value="continue">
                Weiter laufen lassen!
            </button>
            <button class="btn btn-info" name="action" th:if="${match.static}" type="submit" value="update">Fortsetzen
            </button>
            <button class="btn btn-info" name="action" th:unless="${match.static}" type="submit" value="static">Anhalten
            </button>
            <button class="btn btn-secondary" name="action" type="submit" value="reload">Neu einlesen</button>
        </form>
        <hr>
        <form class="pt-3" method="post">
            <input name="id" th:value="${match.id}" type="hidden">
            <button class="btn btn-danger" name="action" type="submit" value="delete">Löschen</button>
        </form>
    </div>
    <div>
        <h2>Trees</h2>
        <div th:each="tree : ${match.matchTree}">
            <div>
                <p th:text="${tree.getName()}"></p>
            </div>
        </div>
        <form>
            Add Tree:
            <input name="id" th:value="${match.id}" type="hidden">
            <select name="treeId">
                <option th:each="tree : ${matchTrees}" th:text="${tree}" th:value="${tree}"></option>
            </select>
            <button class="btn btn-success" name="action" type="submit" value="addTree">Add</button>
        </form>
    </div>
</main>
<footer th:replace="~{main-templates::footer}"/>
</body>
</html>